<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          
          <ul>
            <li><strong>Adres: </strong>Mithat Toroğlu Mah 207 Sokak No 178/B Akdeniz Mersin</li>
            <li><strong>Tel: </strong>{{ site.data.contact.phone }}</li>
          </ul>
          <ul>
            <li><a href="https://www.example.com">www.example.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>